.home-swiper .swiper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.home-swiper .swiper-slide {
    text-align: center;
    font-size: 14px;
    background: rgb(33,31,32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home-card {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.home-card:hover{
    background-color: #000;
    opacity: 70%;
    transition: all 1s;
}

.home-poster{
    -webkit-box-reflect: below 30px linear-gradient(transparent, rgba(0,0,0,0), rgba(0,0,0,0.4)); 
  }