.page-card{ 
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    display: flex;
    margin: 5%;
    padding: 1%;
}

.page-textbox{
    margin-left: 40px;
}

/*
.page-poster{
    height: 345px;
}
*/